# ============================================
# Netbeans:
*nbproject

# ============================================
# PhpStorm:
*.idea

# ============================================
# Less:
*.css.map

# ============================================
# Python:
*.pyc
__pycache__

# ============================================
# Other:
!.gitignore
!.htaccess
src/database.sqlite